body {
  background-color: green;
  color: white;
}

.welcome-title {
  font-size: 1.9rem;
  text-align: center;
  color: black;
}
.col {
  flex-direction: column;
  align-self: flex-start;
  margin-right: 20px;
  max-width: 180px;
}
.book-container {
  display: flex;
  justify-content: center;
}
.book-image {
  max-width: 100%;
  max-height: 100%;
}
.book-title {
  display: flex;
  color: black;
  margin-top: 0;
}

.description-text {
  width: 250px;
}

.outline {
  border: black 3px solid;
}

.comment-button {
}
