body {
  background-color: green;
  color: white;
}

.welcome-title {
  margin: auto;
  text-align: center;
  color: black;
}
.book-container {
  display: flex;
  justify-content: center;
}
.book-image {
  max-width: 100%;
  max-height: 100%;
}

.col {
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  max-width: 50%;
}
.book-title {
  color: black;
}

.description-text {
  width: 250px;
}

.outline {
  border: black 3px solid;
}

.comment-button {
}
